@mixin test() {
  background-color: lighten(#ff0000, 0.2);
  color: #fff;
}

body {
  @include test();

  margin: 0;

  p {
    background: #00ff00;
    border-color: rgba(0 0 0 / 0.5);
    color: #ff0000;
  }
}
